*.d
*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
gifdiff
gifsicle
gifsicle-*.rpm
gifsicle-*.tar.gz
gifview
include
install-sh
missing
src/gifdiff
src/gifsicle
src/gifview
stamp-h*
ungifsicle-*.rpm
ungifsicle-*.tar.gz
compile
