*.d
*.o
*.la
*.lo
.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
gifdiff
gifsicle
gifsicle-*.rpm
gifsicle-*.tar.gz
gifview
include
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.libs
src/gifdiff
src/gifsicle
src/gifview
stamp-h*
ungifsicle-*.rpm
ungifsicle-*.tar.gz
compile
